In [1]:
from current_season_code.functions import *
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense
from keras import regularizers
import pydot
from IPython.display import SVG
from keras.utils.vis_utils import model_to_dot
from keras.models import load_model

In [4]:
bets = pd.read_csv('current_season_data/bets.csv', index_col = 0)

In [8]:
bets[['Team1', 'Team2', 'Team1_KC', 'Team2_KC', 'Team1_Bet', 'Team2_Bet']]

           Team1      Team2  Team1_KC  Team2_KC    Team1_Bet   Team2_Bet
0         Knicks    Rockets  0.000000  0.000554     0.000000    0.000000
1        Wizards       Heat  0.008776  0.000000   991.717300    0.000000
2         Pacers   Pelicans  0.013365  0.000000  1510.312126    0.000000
3        Celtics    Thunder  0.000000  0.004645     0.000000  524.902109
4          Hawks    Hornets  0.000000  0.001092     0.000000    0.000000
5   Timberwolves  Grizzlies  0.000000  0.002876     0.000000    0.000000
6          Bucks      Magic  0.000000  0.002836     0.000000  320.483842
7  Trail Blazers      76ers  0.000000  0.000988     0.000000    0.000000
8          Kings       Jazz  0.005072  0.000000   573.183854    0.000000